<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario De Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/StyleFormProductos.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <form action="">
        <input type="text" placeholder="hola" name="" id="">
    </form>
</body>
</html>